<nav class="navbar navbar-expand-lg navbar-dark">
    <!--<div class="container">-->
            <a class="navbar-brand text-white">
                <img src="assets/img/umss.png" alt="" width="55em" height="70em" class="d-none d-lg-inline-block">
                <h6 class="d-inline d-lg-none">
                    Menu
                </h6>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav text-white">          
                    <li class="nav-item" routerLinkActive="active">                
                        <a class="nav-link" [routerLink]="['/inicio']">
                            <i class="fas fa-home"></i>
                            Inicio
                        </a>
                        <!--{{dataBaseService.bandera}}-->
                    </li>

                    <!--Extraer de la base de datos ***-->
                    <li class="nav-item dropdown" routerLinkActive="active"  *ngIf='!userIsLogin()'> <!--*ngIf='!estaLogueado()'-->
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            <i class="fas fa-landmark"></i>
                            Departamento
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" > 
                            <a class="dropdown-item btn" *ngFor="let dpto of getDepartamento()"  (click)="setDepartamento(dpto)">
                                {{dpto}}    
                            </a>
                        </div>
                    </li>                

                    <li class="nav-item" routerLinkActive="active" *ngIf='!userIsLogin()' > 
                        <!--<a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">-->
                        <a class="nav-link" data-toggle="modal" data-target="#modalLogin" [routerLink]="['/login']" > <!--data-target="#modalLogin"-->
                            <i class="fas fa-sign-in-alt"></i>
                            Login
                        </a>
                    </li>

                    

                    <li class="nav-item" routerLinkActive="active" *ngIf='userIsLogin()'> 
                        <a class="nav-link" data-toggle="modal" data-target="#modalLogin" [routerLink]="['/sidenav']" > <!--data-target="#modalLogin"-->
                            <i class="fas fa-tasks"></i>
                            funciones
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="convocatoria" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-file-alt"></i>
                            Convocatoria
                        </a>
                        <div class="dropdown-menu" aria-labelledby="convocatoria">
                            <a class="dropdown-item" [routerLink]="['/crearConvocatoria']">
                                <i class="fas fa-plus"></i>
                                Crear Convocatoria
                            </a>
                            
                            <a class="dropdown-item" [routerLink]="['/consultarConvocatoria']">
                                <i class="fas fa-question"></i>
                                Consultar Convocatoria
                            </a>
                        </div>
                    </li>

                    <li class="nav-item" routerLinkActive="active"> 
                        <a class="nav-link" data-toggle="modal" data-target="#modalLogin" [routerLink]="['/configurarConvocatoria']" > <!--data-target="#modalLogin"-->
                            <i class="fas fa-tasks"></i>
                            Configurar Convocatoria
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active"> 
                        <a class="nav-link" data-toggle="modal" data-target="#modalLogin" [routerLink]="['/postularAConvocatoria']" >
                            <i class="far fa-address-card"></i>
                            Postular a convocatoria
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active"> 
                        <a class="nav-link" data-toggle="modal" data-target="#modalLogin" [routerLink]="['/postularAItem']" >
                            <i class="far fa-address-card"></i>
                            Postular a Item
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active"> 
                        <a class="nav-link" data-toggle="modal" data-target="#modalLogin" [routerLink]="['/curriculumVitae']" >
                            <i class="far fa-address-card"></i>
                            Curriculum vitae
                        </a> 
                    </li>
                </ul> 

                

                <div class="ml-auto d-flex flex-column ">
                    <!--<form class="form-inline mt-3 mb-2"> *********************--> 
                    <div class="form-inline mt-3 mb-2">
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                    </div>
                    <!--</form>--> 
                    
                    <div class="text-white d-flex flex-row p-0">
                        <P>
                           Dpto de : {{ departamento }}
                        </P>

                        <div class="ml-auto " *ngIf='userIsLogin()'>
                            <i class="fas fa-sign-out-alt pr-3 large" style="color:orange" (mouseover)="logout=true" (mouseout)="logout=false" (click)="salir()"></i>
                            <div  clas="" style="font-size:0.7em"  *ngIf='logout'>
                                salir
                            </div>
                        </div>
                    </div> 
                </div>
            </div>    
    <!--</div>-->
</nav>