<div class="form-group">
    <div class="col" >
        <div class="row pl-1">
            <label #tituloAddNuevoDato class="" (mouseover)="mouseOver(tituloAddNuevoDato)" (mouseout)="mouseOut(tituloAddNuevoDato)" (click)="setMostrarOpciones()" for="numeroDeItems">
                <i class="fas fa-plus m-0 p-0"></i>
                Añadir nuevo Dato 
                <i class="fas fa-chevron-down"></i>
            </label>
        </div>

        <div *ngIf="mostrarOpciones"> <!--*ngIf="false"-->
            <div class="row">
                <input type="text" class="form-control col m-1" id="" placeholder="Nombre del dato">
                <select class="form-control col m-1" id="">
                    <option value="">Tipo de dato...</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select> 
            </div>

            <div class="row">                                
                <input type="text" class="form-control col m-1 " id="" placeholder="Tamaño minimo"> 
                <input type="text" class="form-control col m-1 " id="" placeholder="Tamaño maximo"> 
            </div>     

            <div class="row justify-content-end"> <!--row pr-1-->
                <button type="button" id="" class="btn btn-outline-secondary m-1"><i class="fas fa-times"></i></button>
                <button type="button" id="" class="btn btn-outline-success m-1"><i class="fas fa-plus"></i></button>
            </div>
        </div>
    </div>
</div>