<div>
    <div class="row justify-content-between bg-dark">
        <div class="">
            <h3 class="m-0 p-2 text-white">
                Requerimientos
            </h3>
        </div>

        <div class="m-1">
            <button type="button" class="m-0 px-2 btn btn-outline-success" data-toggle="modal" data-target="#exampleModalCenter">
                <i class="fas fa-plus mr-2"></i>
                Añadir
            </button>
        </div>

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="exampleModalLongTitle">Requerimientos</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                
                <div class="modal-body">
                    <form [formGroup]="formulario" id="formulario">  <!--class="needs-validation"--> <!--class="was-validated"  *** required-->
                        <div class="form-group">
                            <label for="tipoConvocatoria">Item</label>                                                                                    
                            <select class="custom-select my-1 mr-sm-2" id="tipoDeConvocatoria" (change)="validarFormulario()" (click)="validarFormulario()" formControlName="tipoDeConvocatoria">
                                <option value="">Elegir un item...</option>
                                <option value="1">Introduccion a la programacion</option>
                                <option value="2">Elmentos de programacion</option>
                                <option value="3">teoria de Grafos</option>
                            </select>

                            <div class="invalid-feedback">Elija un item ... </div>
                        </div>
                        
                        <div class="form-row">                            
                            <div class="form-group col-sm-12 col-md-6">
                                <label for="numeroDeItems"># Items </label>
                                <input type="text" class="form-control" id="numeroDeItems" (keyup)="validarFormulario()" (click)="validarFormulario()" formControlName="numeroDeItems"> 
                            </div>
        
                            <div class="form-group col-sm-12 col-md-6">
                                <label for="horasAcademicas">Horas academicas hrs/mes </label>
                                <input type="text" class="form-control" id="horasAcademicas"  placeholder="Ej: 2 o 2.5" (keyup)="validarFormulario()"  (click)="validarFormulario()" formControlName="horasAcademicas">  <!--is-valid is-invalid-->                                
                            </div>
                        </div>
                    </form>
                </div>
            
                <div class="modal-footer">
                  <button type="button" id="botonCancelar" class="btn btn-secondary" data-dismiss="modal" (click)="limpiarFormulario()">Cancelar</button>
                  <button type="button" id="botonEnviar" class="btn btn-primary" (click)="enviarFormulario()" >Añadir</button>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="table-responsive">
            <table class="table table-hover ">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre Item</th>
                        <th scope="col"># Items</th>
                        <th scope="col">Horas Academicas (hrs/mes)</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>

                <tbody>
                    <tr> <!--class="table-active"-->
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>asdad</td>
                    </tr>
                </tbody>
          </table>
        </div>
    </div>
</div>