<!--<div class="row align-middle vertical">      
    <div class="container col-xs-12 col-md-6 col-lg-4 col-xl-3 border border-secondary rounded">                            
                <form class="px-4 py-3 needs-validation"  method="post">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Iniciar Sesion</h4>
                    </div>
    
                    <div class="form-group mt-2">
                        <i class="fas fa-envelope prefix grey-text mr-2"></i>
                        <label for="emailUsr">Correo Electronico</label>
                        <input type="email" class="form-control" id="emailUsr" placeholder="email@ejemplo.com" name="correo" required>
                    </div>
    
                    <div class="form-group">
                        <i class="fas fa-lock prefix grey-text mr-2"></i>
                        <label for="passUsr">Contraseña</label>
                        <input type="password" class="form-control" id="passUsr" placeholder="Contraseña" name="contrasenia">
                    </div>
    
                    <div class="form-group d-flex mb-0">
                        <div class="form-check d-inline">
                            <input type="checkbox" class="form-check-input" id="dropdownCheck">
                            <label class="form-check-label" for="dropdownCheck">
                                Recordarme
                            </label>
                        </div>            
                        <button type="submit" class="btn btn-primary ml-auto">Entrar</button>
                    </div>      
                </form>

                <div class="dropdown-divider mt-0"></div>
                <a class="dropdown-item mb-2" href="#">Forgot password?</a>
    </div>
</div>-->

<div class="row align-middle vertical">
    <div class="container col-xs-12 col-md-6 col-lg-4 col-xl-3 border border-secondary rounded"> 
        <form novalidate (ngSubmit)="onSubmit()" [formGroup]="user" class="px-4 py-3">            
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Iniciar Sesion</h4>
            </div>
            
            <div class="form-group mt-2">
                <i class="fas fa-envelope prefix grey-text mr-2"></i>
                <label for="emailUsr">Correo Electronico</label>
                <input type="email" class="form-control" id="emailUsr" placeholder="email@ejemplo.com" formControlName="email">

                <div class="error" *ngIf="user.get('email').hasError('required') && user.get('email').touched" class="text-danger">
                    email requerido *
                </div>

                <div class="error" *ngIf="user.get('email').hasError('pattern')" class="text-danger">
                    email incorrecto
                </div>
               
            </div>

            <div class="form-group">
                <i class="fas fa-lock prefix grey-text mr-2"></i>
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="password" placeholder="password" formControlName="password">

                <div class="error" *ngIf="user.get('password').hasError('required') && user.get('password').touched" class="text-danger">
                    password requerido *
                </div>
            </div>

            <div class="form-group d-flex mb-0">
                <div class="form-check d-inline">
                    <input type="checkbox" class="form-check-input" id="recordarme" [disabled]="user.invalid">
                    <label class="form-check-label" for="dropdownCheck">Recordarme</label>
                </div>            
                <button type="submit" class="btn btn-primary ml-auto" [disabled]="user.invalid">Entrar</button>
            </div>   
        </form>

        <div class="dropdown-divider mt-0"></div>
        <a class="dropdown-item mb-2" href="#">Forgot password?</a>
    </div>
    
</div>

