<div class="row align-middle m-5">
    <div class="container col-xs-12 col-md-6 col-lg-4 col-xl-3 border border-secondary rounded"> 
        <form novalidate (ngSubmit)="onSubmit()" [formGroup]="userForm" class="px-4 py-3">            
            <div class="text-center">
                <h4 class="modal-title w-100 font-weight-bold">Iniciar Sesion</h4>
            </div>
            
            <div class="form-group mt-2">
                <i class="fas fa-envelope prefix grey-text mr-2"></i>
                <label for="emailUsr">Correo Electronico</label>
                <input type="email" class="form-control" id="emailUsr" placeholder="email@ejemplo.com" formControlName="email">

                <div class="error" *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched" class="text-danger">
                    email requerido *
                </div>

                <div class="error" *ngIf="userForm.get('email').hasError('pattern')" class="text-danger">
                    email incorrecto
                </div>               
            </div>

            <div class="form-group">
                <i class="fas fa-lock prefix grey-text mr-2"></i>
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="password" placeholder="password" formControlName="password">

                <div class="error" *ngIf="userForm.get('password').hasError('required') && userForm.get('password').touched" class="text-danger">
                    password requerido *
                </div>
            </div>

            <div class="form-group">
                <i class="fas fa-landmark mr-2"></i>
                <label for="departamento">Departamento</label>
                <select class="form-control" name="departamento" id="departamento" formControlName="departamento">
                    <option class="btn" value="1">Inf-Sis</option>
                    <option class="btn" value="2">Matematicas</option>
                    <option class="btn" value="3">Fisica</option>
                </select>

                <div class="error" *ngIf="userForm.get('departamento').hasError('required') && userForm.get('departamento').touched" class="text-danger">
                    Departamento requerido *
                </div>
            </div>

            <div class="form-group d-flex mb-0">                        
                <div class="form-check d-inline">
                    <input type="checkbox" class="form-check-input" id="recordarme" [disabled]="userForm.invalid">
                    <label class="form-check-label" for="dropdownCheck">Recordarme</label>
                </div>            
                <button type="submit" class="btn btn-primary ml-auto" [disabled]="userForm.invalid">Entrar</button>
            </div>   

            <div class="error"  class="text-danger" *ngIf='!userCheck'> 
                Usuario no valido
            </div>
        </form>

        <div class="dropdown-divider mt-0"></div>
        <a class="dropdown-item mb-2" href="#">Forgot password?</a>
    </div>
</div>
