<div class="d-flex flex-row bg-dark py-1 px-3 mb-1">
    <h3 class="text-white my-auto">
        2.- Requisitos :
    </h3>

    <button type="button" class="btn btn-outline-success ml-auto" (click)="setAniadirRequisito()" data-toggle="modal" data-target="#addRequisitosModal">
        <i class="fas fa-plus mr-2"></i>
        Añadir
    </button>
</div>

<div class="d-flex flex-row">
    <div class="table-responsive">
        <table class="table table-hover table-sm">
            <thead class="thead-light">
                <tr align="center">
                    <th width="5%">#</th>
                    <th width="85%">Descripción del requisito</th>
                    <th width="10%">Acciones</th>
                </tr>
            </thead>

            <tbody>
                <tr align="center" *ngFor="let requisito of listaRequisitosSeleccionados; index as i">
                    <th >{{i+1}} </th>
                    <td align="left">{{requisito[1]}} </td>
                    <td class="d-flex flex-row justify-content-center">                        
                        <button type="button" class="btn btn-outline-primary col-sm-6 col-lg-4 m-1" (click)=" setEditarRequisito(requisito[0]); " data-toggle="modal" data-target="#addRequisitosModal">
                            <i class="fas fa-edit"></i> <!--editar-->
                        </button>
                        <button type="button" class="btn btn-outline-danger col-sm-6 col-lg-4 m-1" (click)="eliminarRequisito(requisito[0])">
                            <i class="fas fa-trash-alt"></i> <!--eliminar-->
                        </button>
                    </td>
                </tr>                   
            </tbody>
      </table>
    </div>
</div>

<!-- MODAL -->

<div class="modal fade" id="addRequisitosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLongTitle">Requisitos</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
            <form [formGroup]="formulario" id="formulario">                                            
                <div class="form-group">
                    <label for="areaDeRequisito">Descripción del requisito</label>
                    <textarea class="form-control" id="areaDeRequisito" rows="5" (keyup)="validarAreaRequisito()" (keyup.enter)="guardarRequisito()"></textarea>
                    <div class="invalid-feedback">La descripción no puede estar vacia * </div>
                </div>
            </form>
        </div>
    
        <div class="modal-footer">
            <button type="button" id="botonCancel" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" id="botonAdd" class="btn btn-success" (click)="guardarRequisito()" *ngIf="banderaAdd">Añadir</button>
            <button type="button" id="botonUpdate" class="btn btn-primary" (click)="guardarRequisito()" *ngIf="!banderaAdd" >Modificar</button>
        </div>
      </div>
    </div>
</div>
