<div>
    <div class="row justify-content-between bg-dark">
        <div class="">
            <h3 class="m-0 p-2 text-white">
                4.- De la forma (Datos del posulante requeridos para el rotulo)
            </h3>
        </div>

        <div class="m-1">
            <button type="button" class="m-0 px-2 btn btn-outline-success" (click)="clickAniadir()" data-toggle="modal" data-target="#addTiposDatosRotuloModal">
                <i class="fas fa-plus mr-2"></i>
                Añadir
            </button>
        </div>
    </div>

    <div class="row mt-3">
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr align="center">
                        <th width="5%">#</th>
                        <th width="42%">Nombre dato</th>
                        <th width="15%">Tipo de dato </th>
                        <th width="15%">Tamaño minimo</th>
                        <th width="15%">Tamaño maximo</th>
                        <th width="8%">Acciones</th>
                    </tr>
                </thead>

                <tbody class="">
                    <tr align="center" *ngFor="let item of listaDatosSeleccionadosTabla; index as i">
                        <th >{{i+1}} </th>
                        <td align="left" >{{item[1]}}</td>
                        <td>{{item[4]}}</td>
                        <td>{{item[2]}}</td>
                        <td>{{item[3]}}</td>
                        <td>
                            <div class="row mx-1">
                                <button type="button" (click)="eliminarDatoDeLista(item[0])" class="btn btn-outline-danger mx-5 col">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </td>
                    </tr>                    
                </tbody>
          </table>
        </div>
    </div>

    <!-- MODAL -->

    <div class="modal fade" id="addTiposDatosRotuloModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLongTitle">Datos para el rotulo</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
                <form [formGroup]="formularioDatoRotulo" id="formularioTipoDatoRotulo">                                            
                    <div class="form-group">
                        <div id="datosRotuloCheck">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="todosLosDatos" id="todosLosDatos" (change)="cambioSeleccionarTodosLosDatos()" [checked]="banderaTodosSeleccionados">
                                <label class="form-check-label font-weight-bold mb-1" for="todosLosDatos">
                                Seleccionar todos los datos
                                </label>
                            </div>

                            <div class="form-check" *ngFor="let dato of listaDatosBaseDeDatos; index as i" >
                                <input class="form-check-input" type="checkbox" value="{{dato[0]}}" id="{{dato[0]}}" (change)="setDatoLista(dato[0]) " [checked]="listaBandera[i]">
                                <label class="form-check-label" for="{{dato[0]}}">
                                {{dato[1]}}
                                </label>
                            </div>
                        </div>

                        <div class="invalid-feedback">Seleccione al menos un dato *</div>
                    </div>
                    
                    <hr class="bg-primary">
                    
                    <app-aniadir-dato-rotulo></app-aniadir-dato-rotulo>
                    
                    <hr class="bg-primary">
                    
                    <app-modificar-dato-rotulo></app-modificar-dato-rotulo>
                    
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" id="cancelaModalDatos" class="btn btn-secondary" (click)="cancelarGuardarDatos()" data-dismiss="modal">Cancelar</button>
                <button type="button" id="guardarModalDatos" class="btn btn-success" (click)="guardarDatos()" >Guardar</button> 
                
            </div>
          </div>
        </div>
    </div>
    
</div>
